.reaction-wrapper {
  display: flex;
  justify-content: space-between;
}

.reaction-button .icon {
  padding: 0 1rem;
}

.submit-proposal-info {
  color: orange;
  padding-bottom: 0.5rem;
}

.proposal-submitted {
  color: green;
}

#modal .submit-proposal-info, #modal .proposal-submitted {
  font-weight: bold;
}
