.has-bg-image {
  background: url('assets/plakat.jpg') no-repeat center;
  background-size: cover;
}

#logo {
  width: 256px;
  height: 256px;
  margin-bottom: 1rem;
}

#add-initiative-button {
  background-color: #2e6da4;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 0;
}
