.has-bg-image {
  background: url('assets/warsaw.jpg') no-repeat right;
  background-size: cover;
}

#logo {
  width: 256px;
  height: 256px;
  margin-bottom: 1rem;
}

#add-initiative-button {
  width: 256px;
}
